@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Tilt+Prism&display=swap");

html {
  /* It is 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  color: rgb(85, 85, 85);
}

a,
.btn {
  transition: all ease 300ms;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  /* position: sticky;
  top: 0; */
}

.nav-links {
  gap: 3.2rem;
  list-style: none;
  font-size: 2.4rem;
}

.nav-links li a {
  color: black;
  text-decoration: none;
}

.nav-links li a:hover {
  color: grey;
  text-decoration: underline;
  text-decoration-color: rgb(181, 181, 181);
  text-underline-offset: 1.5rem;
}

.logo {
  font-size: 3.2rem;
}

.logo:hover {
  cursor: pointer;
}

/* Hamburger Menu */
.hamburger-nav {
  display: none;
}

/* Profile Section */
.profile {
  display: flex;
  justify-content: center;
  gap: 25rem;
  height: 80vh;
}

.profile .section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.profile .section__text {
  align-self: center;
  text-align: center;
}

.profile .section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  font-size: 2rem;
}

.section__text__p2 {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 1.7rem;
}

.title {
  font-size: 3rem;
  text-align: cemter;
}

.social-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 1.5rem;
}

.icon {
  cursor: pointer;
  height: 3.5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.btn {
  font-weight: 600;
  padding: 1.6rem;
  width: 15rem;
  border-radius: 3.2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

/* About Section */

#about {
  width: 70%;
  margin: auto;
  position: relative;
}

.section-container {
  display: flex;
  gap: 10rem;
  height: 100vh;
  align-items: center;
}

.section__pic-container img {
  height: 400px;
  width: 400px;
}

#about .section__text__p1 {
  position: absolute;
  top: 10%;
  left: 50%;
}
#about .title {
  position: absolute;
  top: 15%;
  left: 51%;
}

.about-containers {
  display: flex;
  gap: 5.5rem;
}

.details-container h3 {
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

.details-container p {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.details-container img {
  height: 6rem;
}

.text-container p {
  font-size: 2rem;
  font-style: italic;
}

/* Experience Section */

#experience {
  position: relative;
  width: 70%;
  margin: auto;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 3rem;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-direction: row;
  justify-content: space-around;
  gap: 8rem;
  flex-wrap: wrap;
}

article {
  border: 1px solid black;
  border-radius: 1rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: flex;
  width: 16rem;
  justify-content: space-around;
  gap: 1.5rem; */
}

#experience .experience-sub-title,
#experience .title {
  text-align: center;
}

#experience .experience-sub-title {
  margin-left: 1rem;
}

/* Project section  */
#projects {
  /* position: relative; */

  width: 70%;
  margin: 7rem auto;
}

#projects .title {
  text-align: center;
  margin-bottom: 6rem;
}

.color-container {
  border-color: rgb(181, 181, 181);
  background: rgb(250, 250, 250);
}

#projects .projects-container {
  height: 400px;
  width: 500px;
  /* dis */
}
#projects .color-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10rem;
}

.projects-container .project-img {
  width: 100%;
  height: 70%;
}

.project-title {
  margin: 1.6rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}
