* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

#course-landing-page {
  background-image: linear-gradient(
      rgba(179, 107, 107, 0.7),
      rgba(17, 177, 68, 0.4)
    ),
    url("https://images.unsplash.com/photo-1691253121074-c102f967904f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1176&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

#course-landing-page nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

/* .nav-links ul {
  display: flex;
  flex-direction: row;
} */

.nav-links ul li {
  display: inline-block;
  padding: 8px 12px;
}

.nav-links ul li a {
  text-decoration: none;
  color: white;
}

.text-box {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  /* left: 50%; */
}

.course {
  width: 85%;
  margin: 2% auto;
}

.course .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5%;
}

.course-col {
  width: 30%;
  padding: 1%;
  border-radius: 5px;
  background-color: antiquewhite;
  height: 400px;
}

.course-col img {
  width: 100%;
  height: 65%;
}

/* About Section start */
.about-section {
  width: 100%;
  min-height: 100vh;
  background-color: aliceblue;
}

.container {
  width: 80%;
  margin: auto;
  padding-top: 30px;
  /* display: flex; */
}

.content-section {
  float: left;
  width: 40%;
}

.title {
  text-transform: uppercase;
  font-size: 60px;
}

.content h3 {
  margin-top: 20px;
  color: black;
  font-size: 32px;
}
.content p {
  margin-top: 10px;
  color: black;
  font-size: 24px;
}

button {
  background-color: rgb(241, 175, 188);
  padding: 12px 13px;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 50%;
}

.social a i {
  color: blue;
  font-size: 30px;
  margin-top: 8px;
  margin-right: 8px;
}
.image-section {
  float: right;
  width: 50%;
}

.image-section img {
  width: 100%;
  height: 340px;
}

.fa-bars {
  display: none;
}

@media only screen and (max-width: 768px) {
  .fa-bars {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .text-box h2 {
    font-size: 1rem;
  }
  .text-box p {
    font-size: 0.8rem;
  }

  .course .row {
    flex-direction: column;
  }
  .course-col {
    width: 90%;
    margin: 10px auto;
  }

  .content-section {
    float: none;
    width: 100%;
  }

  .content-section .title {
    font-size: 1.5rem;
  }
  .content-section .p {
    font-size: 0.8rem;
  }

  .image-section {
    float: none;
    width: 100%;
  }
}
